.rrec-footer {
  background: #404040;
  color: white;
  font-size: 25px;
}

.rrec-footer-list {
  list-style-type: circle;
}

@media only screen and (max-width: 900px) {
  .rrec-footer {
    font-size: 12px;
  }
}
