<footer class="rrec-footer h-full flex justify-center items-center">
  <div class="flex w-full justify-around p-4">
    <li
      class="rrec-footer-list w-3/12 text-center"
      style="list-style-type: none;"
    >
      Copyright &copy; 2020
    </li>
    <li class="rrec-footer-list w-6/12 text-center">
      Rutgers, The State University of New Jersey. All rights reserved.
    </li>
    <li class="rrec-footer-list w-3/12 text-center">
      Rutgers Real Estate Club.
    </li>
  </div>
</footer>
