<footer class="rrec-footer d-flex justify-content-center align-items-center">
  <div class="row justify-content-around rrec-footer-content ">
    <div class="col-md-3">
      <li style="list-style-type: none;">Copyright &copy; 2020</li>
    </div>
    <div class="col-md-6">
      <li class="rrec-footer-list">
        Rutgers, The State University of New Jersey. All rights reserved.
      </li>
    </div>
    <div class="col-md-3">
      <li class="rrec-footer-list">Rutgers Real Estate Club</li>
    </div>
  </div>
</footer>
