<div id="events-page" class="p-6 flex lg:flex-row md:flex-row sm:flex-col flex-col sm:justify-center md:justify-around lg:justify-around  bg-white">
  <div class="text-center m-4 flex flex-col justify-start items-center lg:w-5/12 md:w-5/12 sm:w-10/12 w-10/12">
    <p class="lg:text-6xl md:text-6xl text-3xl font-bold">
      Get involved
    </p>
    <p class="text-base font-normal text-gray-600 tracking-tight">
      <span class="font-bold">
        <br/>Meetings
      </span> 
      <br/>Tuesdays: 7:15PM - 8:15PM
      <br/>Building Name & Room #
      <br/>Campus Name
    </p>
    <a href="" class="bg-blue-500 rounded py-2 px-3 shadow text-white text-center hover:bg-blue-400 font-bold text-lg" target="_blank">
      Join Zoom Call
    </a>
    <a class="mt-2" href="https://calendar.google.com/calendar/embed?src=realestateclubrutgers%40gmail.com&ctz=America%2FNew_York">Google Calendar</a>
  </div>


  <div class="responsive-iframe-container flex flex-col items-center justify-center self-center border-gray-400 border-2 p-6 rounded-lg shadow lg:w-7/12 md:w-7/12 sm:w-10/12 w-10/12 m-4">
    <iframe src="https://calendar.google.com/calendar/embed?src=realestateclubrutgers%40gmail.com&ctz=America%2FNew_York" 
    style="border: 0" 
    width="800" 
    height="600" 
    frameborder="0" 
    scrolling="no"></iframe>
  </div>
</div>