<div class="p-6 flex lg:flex-row md:flex-row sm:flex-col flex-col sm:justify-center md:justify-around lg:justify-around  bg-white">
  <p class="text-6xl text-center font-bold m-4">Get involved
    <span class="text-base text-center font-normal text-gray-600 tracking-tight">
      <p>
        <span class="font-bold">
          <br/>Meetings
        </span> 
        <br/>Tuesdays: 7:15PM - 8:15PM
        <br/>Building Name & Room #
        <br/>Campus Name
      </p>
    </span>
  </p>


  <div class="responsive-iframe-container flex flex-col items-center justify-center self-center border-gray-400 border-2 p-6 rounded-lg shadow lg:w-7/12 md:w-7/12 sm:w-10/12 w-10/12 m-4">
    <iframe src="https://calendar.google.com/calendar/embed?src=realestateclubrutgers%40gmail.com&ctz=America%2FNew_York" 
    style="border: 0" 
    width="800" 
    height="600" 
    frameborder="0" 
    scrolling="no"></iframe>
  </div>
</div>