<div
  class="rrec-upcoming-events lg:px-16 lg:py-4 p-2 flex justify-center items-start border-4 border-blue-300"
>
  <div
    class="rrec-upcoming-events-window justify-center w-full h-auto flex flex-col items-center"
  >
    <!-- Title -->
    <div class="flex flex-col text-center w-full">
      <h1 class="rrec-window-title">
        U<span class="rrec-second-underline">pcoming Event</span>s
      </h1>
    </div>

    <app-upcoming-event-tile
      [className]="'h-full w-10/12'"
      title="Upcoming Club Events"
    ></app-upcoming-event-tile>
    <app-upcoming-event-tile
      [className]="'h-full w-10/12'"
      title="Upcoming Department Events"
    ></app-upcoming-event-tile>
  </div>
</div>
