.rrec-website {
  font-family: "Times New Roman", Times, serif;
}
.rrec-nav-bar {
  background: #404040;
  color: white;
  z-index: 999;
}

.rrec-nav-link {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1023px) {
  .main-menu-slider {
    transition: height 400ms ease;
    height: 0px;
    overflow-y: hidden;
  }

  .main-menu-slider.expanded {
    height: auto;
  }

  .rrec-links {
    display: none;
  }
}
