<nav
  class="rrec-nav-bar flex flex-row justify-between items-center h-20 sticky top-0 shadow-xl"
  *ngIf="isDesktop"
>
  <h1 class="w-6/12 text-left text-2xl pl-6">
      Welcome to RREC
  </h1>
    <div class="rrec-links flex flex-row items-center justify-around w-6/12">
      <button
        [ngxScrollTo]="'#home'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link bg-red-700 p-3 rounded-lg shadow uppercase"
        #homeButtonDT
      >
        home
      </button>
      <button
        [ngxScrollTo]="'#about'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase p-3"
        #aboutButtonDT
      >
        about
      </button>
      <button
        [ngxScrollTo]="'#executives'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase p-3"
        #executivesButtonDT
      >
        executives
      </button>
      <button
        [ngxScrollTo]="'#alumni'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase p-3"
        #alumniButtonDT
      >
        alumni
      </button>
      <button
      [ngxScrollTo]="'#events'"
      [ngxScrollToOffset]="-70"
      class="rrec-nav-link uppercase"
      #eventsButtonDT
      >
        upcoming events
      </button>
      <button
        [ngxScrollTo]="'#contact'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase p-3"
        #contactButtonDT
      >
        contact us
      </button>
    </div>
</nav>

<nav
  class="rrec-nav-bar h-auto py-6 pl-2 sticky top-0 flex flex-col justify-center shadow-xl"
  *ngIf="!isDesktop"
>
  <div class="flex flex-row justify-between px-8">
    <button
      class="text-center text-2xl self-center uppercase"
      [ngxScrollTo]="'#home'"
      [ngxScrollToOffset]="-70"
      (click)="openMobileMenu()"
    >
    rrec
  </button>
    <button class="" (click)="openMobileMenu()">
      <fa-icon size="2x" [icon]="['fas', 'bars']"></fa-icon>
    </button>
  </div>
  <div #mobileMenu id="mobile-menu" class="px-8 hidden" *ngIf="!isDesktop">
    <ul>
      <li>
        <button
        [ngxScrollTo]="'#home'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        home
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#about'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        about
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#executives'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        executives
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#alumni'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        alumni
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#events'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        upcoming events
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#contact'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase w-full text-right p-4"
        (click)="openMobileMenu()"
      >
        contacts
      </button>
      </li>
    </ul>
  </div>
</nav>
<div #home id="home">
  <app-home></app-home>
</div>
<div #about id="about">
  <app-about></app-about>
</div>
<div #executives id="executives">
  <app-executives></app-executives>
</div>
<div #alumni id="alumni">
  <app-alumni></app-alumni>
</div>
<div #events id="events">
  <app-upcoming-events></app-upcoming-events>
</div>
<div #contact id="contact">
  <app-contact></app-contact>
</div>

<app-footer [className]="'h-32'"></app-footer>
