<nav
  class="rrec-nav-bar flex flex-col justify-between h-48 sticky top-0 shadow-xl"
  *ngIf="isDesktop"
>
    <div class="flex flex-row items-center justify-center self-center">
      <h1 class="text-center uppercase m-4 lg:text-2xl text-base">
        rutgers university<br />real estate club
      </h1>
    </div>
    <div class="rrec-links flex flex-row items-center justify-around">
      <button
        [ngxScrollTo]="'#home'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        home
      </button>
      <button
        [ngxScrollTo]="'#about'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        about
      </button>
      <button
        [ngxScrollTo]="'#executives'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        executives
      </button>
      <button
        [ngxScrollTo]="'#alumni'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        alumni
      </button>
      <button
        [ngxScrollTo]="'#contacts'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        contacts
      </button>
      <button
        [ngxScrollTo]="'#upcoming-events'"
        [ngxScrollToOffset]="-180"
        class="rrec-nav-link uppercase"
      >
        upcoming events
      </button>
    </div>
</nav>

<nav
  class="rrec-nav-bar h-auto sticky top-0 flex flex-col justify-center shadow-xl"
  *ngIf="!isDesktop"
>
  <div class="flex flex-row justify-between px-8">
    <button
      class="text-center text-2xl self-center font-bold uppercase"
      [ngxScrollTo]="landing"
      [ngxScrollToOffset]="-130"
    >
    rutgers university<br />real estate club
  </button>
    <button class="" (click)="openMobileMenu()">
      <fa-icon size="2x" [icon]="['fas', 'bars']"></fa-icon>
    </button>
  </div>
  <div #mobileMenu id="mobile-menu" class="px-8 hidden" *ngIf="!isDesktop">
    <ul>
      <li>
        <button
        [ngxScrollTo]="'#home'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        home
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#about'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        about
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#executives'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        executives
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#alumni'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        alumni
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#contacts'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        contacts
      </button>
      </li>
      <li>
        <button
        [ngxScrollTo]="'#upcoming-events'"
        [ngxScrollToOffset]="-70"
        class="rrec-nav-link uppercase"
      >
        upcoming events
      </button>
      </li>
    </ul>
  </div>
</nav>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-executives id="executives"></app-executives>
<app-alumni id="alumni"></app-alumni>
<app-contact id="contacts"></app-contact>
<app-upcoming-events id="upcoming-events"></app-upcoming-events>
<app-footer [className]="'h-32'"></app-footer>
