<footer class="p-0 rrec-footer flex flex-row justify-around items-center text-white">
  <p class="m-1">
    Copyright &copy; 2020
  </p>
  <p class="m-1">
    Rutgers, The State University of New Jersey. All rights reserved.
  </p>
  <p class="m-1">
    Rutgers Real Estate Club.
  </p>
  <p class="m-1">
    Developed by <span><a href="https://xavierlarosa.dev" target="_blank">Xavier La Rosa</a></span>
     and <span><a href="https://www.facebook.com/rutgersblueprint/" target="_blank">Rutgers Blueprint</a></span>
  </p>
</footer>