.rrec-executive-tile {
  border-bottom-width: 6px;
  /* min-height: 550px; */
}

.rrec-executive-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}
