<!-- Single Post -->
<div class="w-full flex justify-center">
  <div class="w-full m-4 flex">
    <!-- Date -->
    <div class="w-3/12 h-full flex justify-end items-center">
      <p class="text-center rrec-upcoming-events-meeting-date">
        tues<br /><span style="font-size: 55px;">04</span>
      </p>
    </div>
    <!-- Meeting Content -->
    <div class="flex flex-col w-full">
      <div class="w-full pl-4">
        <p class="rrec-upcoming-events-meeting">
          Weekly Club Meeting Here
        </p>
      </div>
      <div class="w-full pl-4">
        <p class="rrec-upcoming-events-meeting-info">
          Insert Description Here
        </p>
      </div>
    </div>
  </div>
</div>
