<!-- Single Post -->
<div class="w-full bg-red-300 flex justify-center">
  <div class="w-full m-4 bg-purple-500 flex">
    <!-- Date -->
    <div class="bg-red-700 w-3/12 h-full flex justify-end items-center">
      <p class="text-center rrec-upcoming-events-meeting-date">
        tues<br /><span style="font-size: 55px;">04</span>
      </p>
    </div>
    <!-- Meeting Content -->
    <div class="flex flex-col bg-yellow-600 w-full">
      <div class="w-full bg-blue-500 p-4">
        <p class="rrec-upcoming-events-meeting">
          Weekly Club Meeting Here
        </p>
      </div>
      <div class="w-full bg-blue-800 p-4">
        <p class="rrec-upcoming-events-meeting-info">
          Insert Description Here
        </p>
      </div>
    </div>
  </div>
</div>
