body {

}

.rrec-window-title {
  text-decoration: underline;
  font-size: 48px;
}
.rrec-second-underline {
  border-bottom: 4px solid;
}

.test {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

* {
  font-family: "Times New Roman", Times, serif;
}


@media only screen and (max-width: 1023px) {
  .rrec-window-title {
    font-size: 32px;
  }
}