body {
  background: url("./app/assets/background-image.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rrec-window-title {
  text-decoration: underline;
  font-size: 48px;
}
.rrec-second-underline {
  border-bottom: 4px solid;
}

.test {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

* {
  font-family: "Times New Roman", Times, serif;
}


@media only screen and (max-width: 1023px) {
  .rrec-window-title {
    font-size: 32px;
  }
}