.rrec-about {
  background-color: white;
  /* background-color: rgb(26, 26, 26, 0.8); */
  color: black;
}

.rrec-about-window {

}

.rrec-about-tile {
  font-size: 24px;
}

.rrec-about-tile h2 {
  text-align: center;
  color: black;
  font-size: 28px;
}

.rrec-about-tile p, .rrec-about-tile ul {
  text-align: center;
  color: rgb(73, 73, 73);
}

.rrec-about-tile {
  font-size: 18px;
  border-bottom-width: 6px;
}

.rrec-about-tile li {
  /* list-style-type: disc;
  list-style-position: inside; */
}

@media only screen and (max-width: 1300px) {
  .rrec-about-tile li,
  p {
    font-size: 18px;
  }

  .rrec-about-tile h2 {
    font-size: 24px;
  }

  .rrec-about-window h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 900px) {
  .rrec-about-tile li,
  p {
    font-size: 12px;
  }
}
