<div
  class="p-6 h-screen flex flex-col justify-start items-center bg-white"
>
<!-- <p class="text-6xl text-center font-bold m-4">What is RREC</p> -->
  <div class="flex flex-col justify-start items-center w-full">
    <p class="text-6xl text-center font-bold">
      Our Purpose
    </p>
    <p class="text-2xl italic text-center text-gray-700">
      To <span class="font-bold">educate</span> students about the fields within real estate, and
      <br>
      to help students obtain <span class="font-bold">internships</span> and <span class="font-bold">jobs</span> within real estate.
    </p>
  </div>
  <img class="lg:w-2/12 md:w-8/12 w-6/12 m-6" src="../../../assets/team-4423339.svg" alt="Svg of team members. Image by Yvette W from Pixabay">
  <div class="flex flex-col justify-start items-center w-full">
    <p class="text-5xl text-center font-bold">
      What we offer
    </p>
    <p class="text-2xl text-center italic text-gray-700">
      Hosting Speaker Series with C-Suite executives and RE  entrepreneurs,
      <br>
      Case Competitions,
      <br>
      Construction Site Tours,
      <br>
      Trips to Real Estate Conferences    
    </p>
  </div>
  <a href="../../../assets/faq_spring_2020.pdf" class="w-32 bg-blue-500 rounded py-2 px-3 shadow text-white text-center hover:bg-blue-400" target="_blank">
    read more
  </a>

</div>



<!-- <div
  class="rrec-about h-auto flex flex-col justify-start items-center"
>
  <div class="flex lg:flex-row flex-col w-full lg:justify-around items-center lg:p-4 m-12">
    <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
      <fa-icon [icon]="faBullseye" class="mb-3 text-red-600" size="4x"></fa-icon>
      <h2 class="font-bold ">Purpose</h2>
      <ul class="lg:m-4 lg:text-left text-center italic">
        <li>
          To <span class="font-bold">educate</span> students about the fields within real estate,
        </li>
        <li>
          To help students obtain <span class="font-bold">internships</span> and <span class="font-bold">jobs</span> within real estate
        </li>
      </ul>
    </div>
    <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
      <fa-icon [icon]="faTrophy" class="mb-3 text-red-600" size="4x"></fa-icon>
      <h2 class="font-bold">What We Do</h2>
      <ul class="lg:m-4 lg:text-left text-center italic">
        <li>
          Hosting Speaker Series with C-Suite executives and RE entrepeneurs,
        </li>
        <li>
          Case Competitions,
        </li>
        <li>
          Construction Site Tours,
        </li>
        <li>
          Trips to Real Estate Conferences
        </li>
      </ul>
    </div>
    <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
      <fa-icon [icon]="faHandshake" class="mb-3 text-red-600" size="4x"></fa-icon>
      <h2 class="font-bold">Meetings</h2>
      <p class="lg:m-4 italic">
        Tuesdays. 7:15PM - 8:15PM<br />Building Name & Room #<br />Campus Name
      </p>
    </div>
  </div>
</div> -->
