<div class="p-6 flex flex-col justify-center items-center bg-white">
  <p class="text-6xl text-center font-bold mt-4 mb-0">Get the scoop</p>
  <p class="text-lg text-center font-bold italic mt-0">Alumni Testimonies</p>

  <div class="flex flex-wrap justify-center">
    <div class="flex flex-col items-center my-6 mx-12">
      <img src="../../../assets/Muhammed.PNG" class="rounded-full h-48 w-48 shadow" alt="">
      <p class="text-center text-xl text-black mt-3 mb-1">John Smith</p>
      <p class="text-center text-sm text-black mb-2">Graduated RU NB 2020</p>
      <button class="bg-green-500 rounded py-2 px-3 shadow text-white hover:bg-green-400">view</button>
    </div>
    <div class="flex flex-col items-center my-6 mx-12">
      <img src="../../../assets/Muhammed.PNG" class="rounded-full h-48 w-48 shadow" alt="">
      <p class="text-center text-xl text-black mt-3 mb-1">John Smith</p>
      <p class="text-center text-sm text-black mb-2">Graduated RU NB 2020</p>
      <button class="bg-green-500 rounded py-2 px-3 shadow text-white hover:bg-green-400">view</button>
    </div>
    <div class="flex flex-col items-center my-6 mx-12">
      <img src="../../../assets/Muhammed.PNG" class="rounded-full h-48 w-48 shadow" alt="">
      <p class="text-center text-xl text-black mt-3 mb-1">John Smith</p>
      <p class="text-center text-sm text-black mb-2">Graduated RU NB 2020</p>
      <button class="bg-green-500 rounded py-2 px-3 shadow text-white hover:bg-green-400">view</button>
    </div>
  </div>

  <div class="flex flex-wrap justify-center">
    <div class="flex flex-col items-center my-6 mx-12">
      <img src="../../../assets/Muhammed.PNG" class="rounded-full h-48 w-48 shadow" alt="">
      <p class="text-center text-xl text-black mt-3 mb-1">John Smith</p>
      <p class="text-center text-sm text-black mb-2">Graduated RU NB 2020</p>
      <button class="bg-green-500 rounded py-2 px-3 shadow text-white hover:bg-green-400">view</button>
    </div>
    <div class="flex flex-col items-center my-6 mx-12">
      <img src="../../../assets/Muhammed.PNG" class="rounded-full h-48 w-48 shadow" alt="">
      <p class="text-center text-xl text-black mt-3 mb-1">John Smith</p>
      <p class="text-center text-sm text-black mb-2">Graduated RU NB 2020</p>
      <button class="bg-green-500 rounded py-2 px-3 shadow text-white hover:bg-green-400">view</button>
    </div>
  </div>

</div>