<div
  class="rrec-alumni h-auto lg:px-16 lg:py-4 p-2 flex justify-center items-start overflow-y-hidden"
>
  <div class="rrec-alumni-window justify-center w-full h-auto">
    <div class="flex items-center justify-center">
      <h1 class="rrec-window-title uppercase">
        a<span class="rrec-second-underline">lumn</span>i
      </h1>
    </div>
    <div class="flex w-full justify-around p-4 flex-wrap">
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
    </div>
  </div>
</div>
