<div
  class="rrec-alumni h-auto px-16 py-4 flex justify-center items-start border-4 border-red-400 overflow-y-hidden"
>
  <div class="rrec-alumni-window justify-center w-full h-auto">
    <div class="flex items-center justify-center">
      <h1 class="rrec-window-title uppercase">
        a<span class="rrec-second-underline">lumn</span>i
      </h1>
    </div>
    <div class="flex w-full justify-around p-4 flex-wrap">
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
      <app-alumni-tile></app-alumni-tile>
    </div>
  </div>
</div>
