<div
  class="rrec-executives h-auto lg:px-16 lg:py-4 p-2 flex flex-col justify-start items-center bg-gray-500"
>
  <ngb-carousel class="lg:w-9/12 md:w-9/12 w-full px-24 py-12">
    <ng-template ngbSlide *ngFor="let executive of executives">
      <app-executive-tile
        [isDesktop]="isDesktop"
        label="{{executive.name}}"
        headline="{{executive.headline}}"
        description="{{executive.description}}"
        image="{{executive.imagePath}}"
      ></app-executive-tile>
    </ng-template>
  </ngb-carousel>
</div>
