<div class="rrec-executives h-full p-4 w-screen">
  <div class="flex justify-center items-center">
    <h1 class="uppercase">
      E<span class="rrec-second-underline">xecutive</span>s
    </h1>
  </div>
  <div class="flex flex-wrap h-full justify-center items-center mx-20">
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
    <app-executive-tile [className]="'h-64'"></app-executive-tile>
  </div>
</div>
