<div
  class="rrec-about lg:h-screen md:h-screen h-auto flex flex-col justify-start items-center"
>
  <div class="flex items-center justify-center">
    <h1 class="text-4xl text-center mt-6">
      What is RREC?
    </h1>
  </div>
    <div class="flex lg:flex-row flex-col w-full lg:justify-around items-center lg:p-4">
      <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
        <fa-icon [icon]="faBullseye" class="mb-3 text-red-600" size="4x"></fa-icon>
        <h2 class="font-bold ">Purpose</h2>
        <ul class="lg:m-4 lg:text-left text-center italic">
          <li>
            To <span class="font-bold">educate</span> students about the fields within real estate,
          </li>
          <li>
            To help students obtain <span class="font-bold">internships</span> and <span class="font-bold">jobs</span> within real estate
          </li>
        </ul>
      </div>
      <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
        <fa-icon [icon]="faTrophy" class="mb-3 text-red-600" size="4x"></fa-icon>
        <h2 class="font-bold">What We Do</h2>
        <ul class="lg:m-4 lg:text-left text-center italic">
          <li>
            Hosting Speaker Series with C-Suite executives and RE entrepeneurs,
          </li>
          <li>
            Case Competitions,
          </li>
          <li>
            Construction Site Tours,
          </li>
          <li>
            Trips to Real Estate Conferences
          </li>
        </ul>
      </div>
      <div class="rrec-about-tile shadow border-red-600 lg:w-4/12 w-10/12 p-4 m-4 flex flex-col items-center">
        <fa-icon [icon]="faHandshake" class="mb-3 text-red-600" size="4x"></fa-icon>
        <h2 class="font-bold">Meetings</h2>
        <p class="lg:m-4 italic">
          Tuesdays. 7:15PM - 8:15PM<br />Building Name & Room #<br />Campus Name
        </p>
      </div>
    </div>
</div>
