<div
  class="rrec-about h-screen lg:px-16 lg:py-4 p-2 flex justify-center items-start border-blue-400 border-4"
>
  <div class="rrec-about-window justify-center w-full h-auto">
    <div class="flex items-center justify-center">
      <h1 class="rrec-window-title uppercase">
        a<span class="rrec-second-underline">bou</span>t
      </h1>
    </div>
    <div class="flex lg:flex-row flex-col w-full lg:justify-around items-center lg:p-4">
      <div class="rrec-about-tile lg:w-4/12 w-10/12 p-4 m-4">
        <h2 class="uppercase">purpose</h2>
        <ul class="lg:m-4 lg:text-left text-center">
          <li>
            To educate students about the fields within Real Estate
          </li>
          <li>
            To help students obtain internships and jobs within real estate
          </li>
        </ul>
      </div>
      <div class="rrec-about-tile lg:w-4/12 w-10/12 p-4 m-4">
        <h2 class="uppercase">We achieve this by</h2>
        <ul class="lg:m-4 lg:text-left text-center">
          <li>
            Hosting Speaker Series with C-Suite executives and RE entrepeneurs
          </li>
          <li>
            Case Competitions
          </li>
          <li>
            Construction Site Tours
          </li>
          <li>
            Trips to Real Estate Conferences
          </li>
        </ul>
      </div>
      <div class="rrec-about-tile h-full lg:w-4/12 w-10/12 p-4 :m-4">
        <h2 class="uppercase">meetings</h2>
        <p class="lg:m-4">
          Tuesdays. 7:15-8:15PM.<br />Building Name & Room #.<br />Campus Name.
        </p>
      </div>
    </div>
  </div>
</div>
