<div class="rrec-about h-full p-4 w-screen flex justify-center items-center">
  <div class="rrec-about-window justify-center">
    <div class="flex items-center justify-center">
      <h1 class="uppercase">
        a<span class="rrec-second-underline">bou</span>t
      </h1>
    </div>
    <div class="flex w-full justify-around p-4">
      <div class="rrec-about-tile w-4/12 p-4 m-4">
        <h2 class="uppercase">goals</h2>
        <ul class="px-4 m-4">
          <li>
            To educate students about the Rutgers Real Estate program at New
            Brunswick
          </li>
          <li>
            To educate students about careers within real estate
          </li>
          <li>
            To help students obtain internships and jobs within real estate
          </li>
        </ul>
      </div>
      <div class="rrec-about-tile w-4/12 p-4 m-4">
        <h2 class="uppercase">meetings</h2>
        <p class="m-4">
          Tuesdays. 7:15-8:15PM.<br />Building Name & Room #.<br />Campus Name.
        </p>
      </div>
      <div class="rrec-about-tile w-4/12 p-4 m-4">
        <h2 class="uppercase">activities</h2>
        <p class="m-4">
          Description of activities in paragraph form. The following were taken
          from GetInvolved. Things to do include: Host speakers and recruiters,
          Join construction site visits, Obtain free attendance to Real Estate
          conferences (from volunteering to help with sign-in), Send out emails
          about potential jobs and internships.
        </p>
      </div>
    </div>
  </div>
</div>
