<div
  class="rrec-home h-screen p-4 flex flex-col justify-center items-center"
>
  <img id="rrec-logo" class="lg:w-3/12 md:w-6/12 w-10/12 mb-56" src="../../../assets/rrec_logo_v5_white.png" alt="">
  <div class="flex flex-row justify-center w-full">
    <p id="motto" class="text-4xl text-white thin italic ml-12">
      Learn. Network. Excel.
    </p>
  </div>

  <!-- <div class="flex flex-row justify-around w-full">
    <p class="text-4xl text-white font-bold">
      Learn
    </p>
    <p class="text-4xl text-white font-bold">
      Network
    </p>
    <p class="text-4xl text-white font-bold">
      Excel
    </p>
  </div> -->
</div>
