<div
  class="p-6 flex lg:flex-row md:flex-row  sm:flex-col-reverse flex-col-reverse justify-around bg-gray-500"
>
  <div class="lg:w-7/12 md:w-7/12 w-full">
    <div class="flex flex-wrap justify-around">
      <fa-icon [icon]="faFacebookF" class="mx-4 text-white" size="2x"></fa-icon>
      <fa-icon [icon]="faLinkedin" class="mx-4 text-white" size="2x"></fa-icon>
      <fa-icon [icon]="faEnvelope" class="mx-4 text-white" size="2x"></fa-icon>
      <fa-icon [icon]="faInstragram" class="mx-4 text-white" size="2x"></fa-icon>

    </div>
  </div>
  <p class="text-6xl text-center font-bold m-4">Get in touch</p>

</div>
