<div
  class="p-6 flex lg:flex-row md:flex-row  sm:flex-col-reverse flex-col-reverse justify-around bg-gray-500"
>
  <div class="lg:w-7/12 md:w-7/12 w-full flex flex-row justify-around items-center">
    <button class="social m-1 text-white rounded-lg p-4 hover:bg-white hover:shadow lg:m-4 md:m-4"><span>
      <fa-icon [icon]="faFacebookF" size="4x"></fa-icon>
    </span></button>
    <button class="social m-1 text-white rounded-lg p-4 hover:bg-white hover:shadow lg:m-4 md:m-4"><span>
      <fa-icon [icon]="faLinkedin" size="4x"></fa-icon>
    </span></button>
    <button class="social m-1 text-white rounded-lg p-4 hover:bg-white hover:shadow lg:m-4 md:m-4"><span>
      <fa-icon [icon]="faEnvelope" size="4x"></fa-icon>
    </span></button>
    <button class="social m-1 text-white rounded-lg p-4 hover:bg-white hover:shadow lg:m-4 md:m-4"><span>
      <fa-icon [icon]="faInstragram" class=""  size="4x"></fa-icon>
    </span></button>

  </div>
  <div class="">
    <p class="text-6xl text-center font-bold m-4">Get in touch</p>
    <form class="w-full bg-gray-200 p-6 flex flex-col rounded-lg">
      <label for="" class="text-center font-bold">Send us an email</label>
      <input type="email" name="email" id="" placeholder="email" class="m-2 py-2 px-3">
      <input type="text" name="subject" id="" placeholder="subject" class="m-2 py-2 px-3">
      <textarea name="body" id="" placeholder="body" class="m-2 py-2 px-3 resize-none" cols="30" rows="10"></textarea>
      <button class="bg-blue-400 rounded shadow hover:bg-blue-300 text-white p-2 m-2">
        Submit
      </button>
    </form>
  </div>

</div>
