<div class="rrec-nav-bar w-screen h-32 ">
  <div class="flex flex-row items-center justify-center">
    <h1 class="text-center uppercase mt-2">
      rutgers university<br />real estate club
    </h1>
  </div>
  <div class="flex flex-row items-center justify-around ">
    <app-nav-link label="home"></app-nav-link>
    <app-nav-link label="about"></app-nav-link>
    <app-nav-link label="executives"></app-nav-link>
    <app-nav-link label="alumni"></app-nav-link>
    <app-nav-link label="contact"></app-nav-link>
    <app-nav-link label="upcoming events"></app-nav-link>
  </div>
</div>
