<div class="rrec-nav-bar fixed-top">
  <div class="row justify-content-center">
    <h1 class="text-center">RUTGERS UNIVERSITY<br />REAL ESTATE CLUB</h1>
  </div>
  <div class="row align-items-end justify-content-around">
    <app-nav-link label="HOME"></app-nav-link>
    <app-nav-link label="ABOUT"></app-nav-link>
    <app-nav-link label="EXECUTIVES"></app-nav-link>
    <app-nav-link label="ALUMNI"></app-nav-link>
    <app-nav-link label="CONTACT"></app-nav-link>
    <app-nav-link label="UPCOMING EVENTS"></app-nav-link>
  </div>
</div>
