<div class="rrec-nav-bar w-screen h-32 ">
  <div class="flex flex-row items-center justify-center">
    <h1 class="text-center uppercase mt-2">
      rutgers university<br />real estate club
    </h1>
  </div>
  <div class="flex flex-row items-center justify-around ">
    <app-nav-link label="home" link="/"></app-nav-link>
    <app-nav-link label="about" link="/about"></app-nav-link>
    <app-nav-link label="executives" link="/executives"></app-nav-link>
    <app-nav-link label="alumni" link="/alumni"></app-nav-link>
    <app-nav-link label="contact" link="/"></app-nav-link>
    <app-nav-link label="upcoming events" link="/"></app-nav-link>
  </div>
</div>
