<!-- Component Window -->
<div class="bg-blue-200 flex flex-col h-full w-full pt-16">
  <!-- Component -->
  <div class="flex flex-col bg-blue-800 test w-full">
    <!-- Header -->
    <div class="w-full text-center bg-gray-400">
      <p class="rrec-upcoming-event-tile-title ">{{ title }}</p>
    </div>
    <!-- Content -->
    <div class="flex flex-row">
      <div class="flex flex-col w-full">
        <app-upcoming-event-post></app-upcoming-event-post>
        <app-upcoming-event-post></app-upcoming-event-post>
      </div>

      <div class="w-4/12 h-48 bg-green-500 flex justify-center items-center">
        content
      </div>
    </div>
  </div>
</div>
